.price .items {
  padding: 20px;
  margin: 30px;
  text-align: center;
  width: 300px;
}
.price h1 {
  font-size: 50px;
  margin: 20px 0;
  color: rgb(4, 41, 110);
}
.price h1 span {
  font-size: 20px;
  margin-right: 5px;
  color: #000;
}
.price p {
  color: grey;
  margin: 40px 0;
}


